<h1>Pokemon abm</h1>

<h2>Agregar Pokemon por id</h2>

<input [formControl]="idPokemon" type="number">
<button (click)="agregarPokemon()">Agregar Pokemon</button>

<h2>Eliminar Pokemon por id</h2>

<input [formControl]="idPokemonEliminar" type="number">
<button (click)="eliminarPokemon()">Eliminar Pokemon</button>

<h1>Modificar</h1>
<h2>id pokemon a modificar</h2>
<input [formControl]="idPokemonActualizar" type="number">
<h2>Nuevo nombre</h2>
<input [formControl]="nombrePokemon" type="text">
<button (click)="modificarPokemon()">Actualizar Pokemon</button>

   
    