/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {

  background-image:
  url('/homeBackgroundDark.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', 'VT323', 'Courier New', Courier, monospace;
}
