/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
html, body { height: 100%; }

body {

  background-image:
    linear-gradient(rgba(35,39,47,0.7), rgba(35,39,47,0.95)),
    url('/homeBackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Press Start 2P', 'VT323', 'Courier New', Courier, monospace;
}
